@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    overflow-x: hidden;
    box-sizing: border-box;
}

:root {
    --yellow-color: #FDC29D;
    --brown-color: #3C2A31E5;
    --red-color: #F67979;
    --header-height: 6rem;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}


.root {
    position: relative;
    padding-left: var(--header-height);
    /*width: calc(100vw - var(--header-height));*/
    left: 0;
}

header {
    background: var(--yellow-color);
    height: var(--header-height);
    position: fixed;
    padding-left: 5rem;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
}

nav {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex: 1;
    gap: 2rem;
    height: 100%;
    justify-content: space-evenly;
}

nav > a {
    text-transform: uppercase;
    font-weight: 500;
}

.join-button{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
    margin-left: auto;
    height: var(--header-height);
    width: 15rem;
    background: var(--red-color);
    border: none;
    gap: 1rem;
    color: white;
    text-transform: uppercase;
}

.join-button > div {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    width: 3rem;
    aspect-ratio: 1;
    box-sizing: border-box;
    font-weight: 900;
    color: var(--red-color);
    font-size: 2rem;
}

.join-button > span {
  font-size: 1rem;
}

.sidebar {
    width: var(--header-height);
    height: 100vh;
    position: fixed;
    background: var(--yellow-color);
    z-index: 10000;
}

.logo-wrapper {
    background: var(--brown-color);
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /*justify-content: space-between;*/
    padding-top: 0.9rem;
    box-sizing: border-box;
}

.logo-wrapper > img {
    width: 70%;
    border-radius: 70%;
    background: var(--red-color);
    padding: 10%;
}

.logo-wrapper > span {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    font-size: 1.5em;
    align-self: center;
    flex: 1;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 700;
}

.media-wrapper {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.media-wrapper > img {
    width: calc(100% / 3);
}

.hover-able {
    transition: filter .1s ease-in-out;
}

.hover-able-text {
  transition: filter .1s ease-in-out;
  filter:opacity(0.7);
}


.hover-able-text:hover {
    filter:opacity(1);
    cursor: pointer;
}

.hover-able-text:active {
    color: DimGray;
    cursor: pointer;
}

.hover-able:hover {
    filter:opacity(1);
    user-select: none;
    filter: brightness(.9);
    cursor: pointer;
}

.hover-able:active {
    filter: brightness(.6);
    cursor: pointer;
}

main{
    padding-top: var(--header-height);
}

section {
    position: relative;
    height: calc(100vh - var(--header-height));
    width: 100%;
    overflow: hidden;
}

section > img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

section:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2A201D77;
    z-index: -1;
}

.scroller {
  box-sizing: border-box;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-padding-top: var(--header-height);
}
.child {
  scroll-snap-align: start;
}

.first-section{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.first-left-section{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    color: white;
    box-sizing: border-box;
    padding-left: 2rem;
}

.first-left-section > button{
    margin: 0;
    height: calc(var(--header-height)/1.5);
    overflow: hidden;
    border-radius: .250rem;
}

.first-left-title{
    font-size: 2.5rem;
    font-weight: 700;
}

.first-left-subtitle{
    font-size: 2rem;
    font-weight: 500;
}

.first-right-section{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5rem;
  flex-direction: column;
  color: white;
  box-sizing: border-box;
}

.first-right-section span p {
  font-size: 1.6rem;
  text-align: center;
}

.bold {
  font-size: 2.5rem;
  font-weight: 750;
}

.second-section{
    width: 100%;
    height: 100%;
    display: grid;
    padding-left: 5rem;
    grid-template-columns: 1fr 1fr;
}

.second-subsection > .title{
  font-size: clamp(.4rem, 1.6vw, 1.6rem);
  font-weight: 700;
  height:  10%;
}

.second-subsection > .subtitle{
  text-align: justify;
  font-size: clamp(.3rem, 1.3vw, 1.3rem);
  height:  40%;
}

.second-subsection{
    padding-top: 10%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: column;
    color: white;
    box-sizing: border-box;
}

.second-subsection > span {
  height:  30%;
  padding-right: 15%;

}

.third-section{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}


.third-subsection{
  background: #503a3c;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.background{
  background: rgb(57,42,44);
  background: linear-gradient(90deg, rgba(57,42,44,1) 0%, rgba(80,58,60,1) 100%);
}

.map{
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.map > iframe{
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  width: 95% !important;
  height: 85% !important;
}

.map > .title{
  color: white;
  font-size: clamp(.6rem, 2.4vw, 2.4rem);
  overflow: hidden;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.third-subsection .female{
  width: 70%;
  padding: 5%;
  box-sizing: border-box;
}

.third-subsection > .table{
  align-items: center;
  overflow: hidden;
}

.third-subsection > .table > .row{
  float: center;
  gap: 0;
  align-items: center;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.third-subsection > .table > .row img{
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background: var(--red-color);
  padding: 1%;
}

.third-subsection > .table > .row .text{
  padding-left: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  color: white;
  box-sizing: border-box;
}

.third-subsection > .table > .row .text .title{
  font-size: 25px;
  font-weight: 500;
}

.third-subsection > .table > .row .text .subtitle{
  font-size: 19px;
}

 .map{
   color: var(--yellow-color);
   filter: invert(0%);
 }
